'use strict';

exports = module.exports = function (app, mongoose) {

	var modelSchema = new mongoose.Schema({
		text: String,
		dateCreated: { type: Date, default: Date.now }
	});
	app.db.model('Model', modelSchema);
};